img {
    padding-top: 5%;
    height: 240px;
    width: auto;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 5%;
    text-decoration: underline;
}

body {
    background-image:url("Background2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.TopNav {
	position: fixed;
	top: 1%;
	width: 99%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Tabs{
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#home {
    font-size: 16px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.BottomNav {
	position: fixed;
	bottom: 1%;
	width: 99%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.info {
    color: white;
    padding: 0.5% 3%;
    float: left;
}

.BottomNav img {
    float: right;
    padding-top: 0.5%;
    padding-right: 3%;
    height: 50px;
    width: auto;
}
